This e-mail has been sent to you to recover your password<br>
to reset your password and set a new one click this link:

<p>
<a href="{{ confirm_url }}">{{ confirm_url }}</a>
</p>

<p>
--<br>
Big Data Corridor<br>
Postal address:<br>
Faculty of Computing, Engineering and the Built Environment<br>
Millennium Point, Curzon Street<br>
Birmingham B4 7XG<br>
<br>
BIG DATA CORRIDOR: A new Business Economy<br>
</p>

<br>
<img src="{{ base_url }}static/images/euro.png"/>
<img src="{{ base_url }}static/images/bdc.png"/>
<br>
<p>
<br>
This project is co-funded by the European Union under the European Regional Development Fund. Project No 12R16P00220<br>
    <a href="http://www.bigdatacorridor.com"> Big data corridor website</a><br>
    <a href="http://birmingham.uksouth.cloudapp.azure.com"> BDC Data Platform</a><br>

</p>