<!-- Include all datatable css files for the style -->
<link href="{{ url_for('static', filename='css/dataTable/dataTables.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/dataTable/responsive.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/dataTable/colReorder.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/dataTable/rowReorder.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/dataTable/buttons.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/dataTable/scroller.bootstrap.min.css') }}" rel="stylesheet">
